.sidebar {
  display: none;
}
@media only screen and (max-width: 600px) {
  .sidebar {
    display: block;
    width: 100dvw;
    height: 100dvh;
    color: black;
    background-color: black;
    position: absolute;
    top: 0;
    padding: 50px;
    transition: left 0.3s ease;
  }
  .sidebar.open {
    left: 0;
  }
  .sidebar.closed {
    left: 660px;
  }
  .SBcontents {
    margin: 60px 0px 0px 0px;
    font-size: 36px;
  }
  .SBcontents > a {
    padding: 20px 0px 0px 0px;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-decoration-color: transparent;
    transition: all 0.5s ease-in-out;
  }

  .SBcontents>a{
    border-color:rgb(0, 0, 0);
    border-width:0px 0px 3px 0px;
    border-style: solid;
    padding: 20px 0px 0px 0px;
    display: block;
    position: relative; 
  }
  
  .SBcontents a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background: linear-gradient(to left, transparent 0%, #b573f8 100%); 
    transition: width 0.5s ease-in-out; 
  }
  
  .SBcontents a:hover:after {
    width: 70%; 
  }
  
}
