@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100dvw;
    height: 100dvh;
    color: black;
    background-color: black;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 50px;
  }
  .SBcontents {
    margin: 60px 0px 0px 0px;
    font-size: 36px;
  }
  .SBcontents > a {
    padding: 20px 0px 0px 0px;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-decoration-color: transparent;
    transition: all 0.5s ease-in-out;
  }

  .SBcontents a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-decoration-color: #b573f8;
  }
}
